@charset "utf-8";
.nav-header {
  display: flex;
  background-color: #333;
  justify-content: center;
  align-items: center;
  a {
    color: white;
    text-decoration: none;
    padding: 14px 10px;
    font-size: 20px;
    &.router-link-exact-active.router-link-active {
      color: red;
    }
  }
}