@charset "UTF-8";
@import "public";

.appHeader {
  @include div-block();
  .header {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
    .logo {
      width: 70px;
      height: 70px;
      float: left;
      text-align: center;
      img {
        width: 50px;
        height: 50px;
        margin: 12px auto 0px;
      }
    }
    .navheader {
      float: left;
      margin-top: 23px;
      li {
        float: left;
        text-align: center;
        width: 100px;
        cursor: pointer;
        font-weight: bold;
        &.router-link-exact-active, &:hover {
          color: red;
        }
      }
    }
    .loginRegister {
      float: right;
      margin-top: 23px;
      span {
        cursor: pointer;
      }
    }
  }
  .cont{
    width: 1200px;
    margin: 0 auto;
  }
}