@charset "UTF-8";
@import "public";

.banner {
  @include div-block();
  height: 420px;
  .swiper-container {
    @include div-block();
    height: 420px;
    .swiper-wrapper {
      .swiper-slide {
        @include div-block();
        height: 420px;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        img {
          width: 100%;
          height: 420px;
        }
      }
    }
    .swiper-pagination-bullet {
      background: white;
      width: 20px;
      height: 20px;
      &.swiper-pagination-bullet-active {
        background: #007aff;
      }

    }
  }
}