@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/summerSongXia\.github\.io\/vuecli\/demo\/src\/assets\/css\/public\.scss}line{font-family:\000031}}
body {
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/summerSongXia\.github\.io\/vuecli\/demo\/src\/assets\/css\/public\.scss}line{font-family:\000035}}
ul, li {
  list-style-type: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/summerSongXia\.github\.io\/vuecli\/demo\/src\/assets\/css\/public\.scss}line{font-family:\000038}}
.clear {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/summerSongXia\.github\.io\/vuecli\/demo\/src\/assets\/css\/public\.scss}line{font-family:\00003102}}
body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
