body {
  padding: 0;
  margin: 0;
}
ul,li{
  list-style-type: none;
}
.clear{
  clear: both;
}
@charset "UTF-8";
$border: 1px #f0f0f0 solid;
$main-color: #4d555d;
$submain-color: #a1a1a1;
$highLight-color: #f03744;
$font-color: #159cdf;
$bg-color: #fafafa;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
@function px2rem($px, $base-font-size:75px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return px2rem($px + 0px);
  } @else if (unit($px)==rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

@mixin font-dpr($font-size) {
  font-size: $font-size+px;
  [data-dpr="2"] & {
    font-size: $font-size * 2+px;
  }
  [data-dpr="3"] & {
    font-size: $font-size * 3+px;
  }
}

@mixin border-radius($radius:4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin flex-layout {
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-items: center;
  align-items: center;

}

@mixin div-block {
  width: 100%;
  position: relative;
  overflow: hidden;
  @include box-sizing;
}

@mixin div-block-percent {
  width: 80%;
  position: relative;
  overflow: hidden;
  @include box-sizing;
  border: $border;
  @include border-radius();
  margin: 20px auto;
  background-color: white;
  padding: 10px;
}

@mixin absolute-center {
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin box-shadow {
  -webkit-box-shadow: 0px 0px 15px 1px #dadada;
  -moz-box-shadow: 0px 0px 15px 1px #dadada;
  box-shadow: 0px 0px 15px 1px #dadada;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

body {
  background-color: $bg-color;
  margin: 0;padding: 0;
}
